In [5]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# load the data set you want to join
customer_Info = pd.read_excel('CustomerOrders-01.xlsx',sheet_name='Customer Info')
Order_Info = pd.read_excel('CustomerOrders-01.xlsx',sheet_name='Order Info')

In [7]:
# retrieve customer info first 5 rows
customer_Info.head()

,Company Name,Customer ID,Contact Name,Contact Title,Address,City,Region,Postal Code,Country,Phone,Fax
0,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,Ana Trujillo Emparedados y helados,ANATR,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,NaN,05021,Mexico,(5) 555-4729,(5) 555-3745
2,Antonio Moreno Taquería,ANTON,Antonio Moreno,Owner,Mataderos 2312,México D.F.,NaN,05023,Mexico,(5) 555-3932,NaN
3,Around the Horn,AROUT,thomas hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,Berglunds snabbköp,bergs,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67

In [8]:
# retrieve customer info first 5 rows
Order_Info.head()

,OrderID,CustomerID,OrderDate,RequiredDate,ShippedDate,ShipVia,OrderAmount,ShipName,ShipAddress,ShipCity,ShipPostalCode,ShipCountry
0,10643,ALFKI,1997-08-25,1997-09-22,1997-09-02,1,29.46,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,Germany
1,10692,ALFKI,1997-10-03,1997-10-31,1997-10-13,2,61.02,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,Germany
2,10702,ALFKI,1997-10-13,1997-11-24,1997-10-21,1,23.94,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,Germany
3,10835,ALFKI,1998-01-15,1998-02-12,1998-01-21,3,69.53,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,Germany
4,10952,ALFKI,1998-03-16,1998-04-27,1998-03-24,1,40.42,Alfreds Futterkiste,Obere Str. 57,Berlin,12209,Germany

In [9]:
# rename order info column Ship name to Company name to be able to join both data set
Order_Info = Order_Info.rename(columns={'ShipName':'Company Name'})
Order_Info.columns

Index(['OrderID', 'CustomerID', 'OrderDate', 'RequiredDate', 'ShippedDate',
       'ShipVia', 'OrderAmount', 'Company Name', 'ShipAddress', 'ShipCity',
       'ShipPostalCode', 'ShipCountry'],
      dtype='object')

In [10]:
# join the table to retrive matching records
pd.merge(customer_Info,Order_Info,on='Company Name')

,Company Name,Customer ID,Contact Name,Contact Title,Address,City,Region,Postal Code,Country,Phone,...,CustomerID,OrderDate,RequiredDate,ShippedDate,ShipVia,OrderAmount,ShipAddress,ShipCity,ShipPostalCode,ShipCountry
0,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1997-08-25,1997-09-22,1997-09-02,1,29.46,Obere Str. 57,Berlin,12209,Germany
1,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1997-10-03,1997-10-31,1997-10-13,2,61.02,Obere Str. 57,Berlin,12209,Germany
2,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1997-10-13,1997-11-24,1997-10-21,1,23.94,Obere Str. 57,Berlin,12209,Germany
3,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1998-01-15,1998-02-12,1998-01-21,3,69.53,Obere Str. 57,Berlin,12209,Germany
4,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1998-03-16,1998-04-27,1998-03-24,1,40.42,Obere Str. 57,Berlin,12209,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1997-12-23,1998-01-20,1997-12-31,3,23.79,ul. Filtrowa 68,Warszawa,01-012,Poland
821,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1998-02-04,1998-03-04,1998-02-13,3,12.04,ul. Filtrowa 68,Warszawa,01-012,Poland
822,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1998-02-25,1998-03-11,1998-03-03,3,26.29,ul. Filtrowa 68,Warszawa,01-012,Poland
823,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1998-04-03,1998-04-17,1998-04-17,2,20.31,ul. Filtrowa 68,Warszawa,01-012,Poland
824,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1998-04-23,1998-05-21,1998-05-01,1,8.72,ul. Filtrowa 68,Warszawa,01-012,Poland

In [11]:
# left join both data set to retrive left matching values
pd.merge(customer_Info,Order_Info,on='Company Name', how='left')

,Company Name,Customer ID,Contact Name,Contact Title,Address,City,Region,Postal Code,Country,Phone,...,CustomerID,OrderDate,RequiredDate,ShippedDate,ShipVia,OrderAmount,ShipAddress,ShipCity,ShipPostalCode,ShipCountry
0,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1997-08-25,1997-09-22,1997-09-02,1.0,29.46,Obere Str. 57,Berlin,12209,Germany
1,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1997-10-03,1997-10-31,1997-10-13,2.0,61.02,Obere Str. 57,Berlin,12209,Germany
2,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1997-10-13,1997-11-24,1997-10-21,1.0,23.94,Obere Str. 57,Berlin,12209,Germany
3,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1998-01-15,1998-02-12,1998-01-21,3.0,69.53,Obere Str. 57,Berlin,12209,Germany
4,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1998-03-16,1998-04-27,1998-03-24,1.0,40.42,Obere Str. 57,Berlin,12209,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
823,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1997-12-23,1998-01-20,1997-12-31,3.0,23.79,ul. Filtrowa 68,Warszawa,01-012,Poland
824,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1998-02-04,1998-03-04,1998-02-13,3.0,12.04,ul. Filtrowa 68,Warszawa,01-012,Poland
825,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1998-02-25,1998-03-11,1998-03-03,3.0,26.29,ul. Filtrowa 68,Warszawa,01-012,Poland
826,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1998-04-03,1998-04-17,1998-04-17,2.0,20.31,ul. Filtrowa 68,Warszawa,01-012,Poland
827,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1998-04-23,1998-05-21,1998-05-01,1.0,8.72,ul. Filtrowa 68,Warszawa,01-012,Poland

In [12]:
# right join both data set to retrive rightt matching values
pd.merge(customer_Info,Order_Info,on='Company Name', how='right')

,Company Name,Customer ID,Contact Name,Contact Title,Address,City,Region,Postal Code,Country,Phone,...,CustomerID,OrderDate,RequiredDate,ShippedDate,ShipVia,OrderAmount,ShipAddress,ShipCity,ShipPostalCode,ShipCountry
0,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1997-08-25,1997-09-22,1997-09-02,1,29.46,Obere Str. 57,Berlin,12209,Germany
1,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1997-10-03,1997-10-31,1997-10-13,2,61.02,Obere Str. 57,Berlin,12209,Germany
2,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1997-10-13,1997-11-24,1997-10-21,1,23.94,Obere Str. 57,Berlin,12209,Germany
3,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1998-01-15,1998-02-12,1998-01-21,3,69.53,Obere Str. 57,Berlin,12209,Germany
4,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1998-03-16,1998-04-27,1998-03-24,1,40.42,Obere Str. 57,Berlin,12209,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1997-12-23,1998-01-20,1997-12-31,3,23.79,ul. Filtrowa 68,Warszawa,01-012,Poland
826,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1998-02-04,1998-03-04,1998-02-13,3,12.04,ul. Filtrowa 68,Warszawa,01-012,Poland
827,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1998-02-25,1998-03-11,1998-03-03,3,26.29,ul. Filtrowa 68,Warszawa,01-012,Poland
828,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1998-04-03,1998-04-17,1998-04-17,2,20.31,ul. Filtrowa 68,Warszawa,01-012,Poland
829,Wolski Zajazd,wolza,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,WOLZA,1998-04-23,1998-05-21,1998-05-01,1,8.72,ul. Filtrowa 68,Warszawa,01-012,Poland

In [13]:
# retrieve all values 
pd.merge(customer_Info,Order_Info,on='Company Name', how='outer')

,Company Name,Customer ID,Contact Name,Contact Title,Address,City,Region,Postal Code,Country,Phone,...,CustomerID,OrderDate,RequiredDate,ShippedDate,ShipVia,OrderAmount,ShipAddress,ShipCity,ShipPostalCode,ShipCountry
0,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1997-08-25,1997-09-22,1997-09-02,1.0,29.46,Obere Str. 57,Berlin,12209,Germany
1,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1997-10-03,1997-10-31,1997-10-13,2.0,61.02,Obere Str. 57,Berlin,12209,Germany
2,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1997-10-13,1997-11-24,1997-10-21,1.0,23.94,Obere Str. 57,Berlin,12209,Germany
3,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1998-01-15,1998-02-12,1998-01-21,3.0,69.53,Obere Str. 57,Berlin,12209,Germany
4,Alfreds Futterkiste,alfki,Maria anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,ALFKI,1998-03-16,1998-04-27,1998-03-24,1.0,40.42,Obere Str. 57,Berlin,12209,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,Galería del gastronómo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GALED,1996-11-28,1997-01-09,1996-12-30,2.0,10.14,"Rambla de Cataluña, 23",Barcelona,8022,Spain
829,Galería del gastronómo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GALED,1997-01-27,1997-02-24,1997-02-06,1.0,18.69,"Rambla de Cataluña, 23",Barcelona,8022,Spain
830,Galería del gastronómo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GALED,1997-06-13,1997-07-11,1997-07-09,3.0,6.54,"Rambla de Cataluña, 23",Barcelona,8022,Spain
831,Galería del gastronómo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GALED,1998-02-13,1998-03-13,1998-02-16,3.0,1.25,"Rambla de Cataluña, 23",Barcelona,8022,Spain
832,Galería del gastronómo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GALED,1998-03-05,1998-04-02,1998-03-18,1.0,1.36,"Rambla de Cataluña, 23",Barcelona,8022,Spain